# permissions for end users to edit khulnasoftgateways.
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRole
metadata:
  name: khulnasoftgateway-editor-role
rules:
- apiGroups:
  - operator.khulnasoft.com
  resources:
  - khulnasoftgateways
  verbs:
  - create
  - delete
  - get
  - list
  - patch
  - update
  - watch
- apiGroups:
  - operator.khulnasoft.com
  resources:
  - khulnasoftgateways/status
  verbs:
  - get
