# permissions for end users to view khulnasoftscanners.
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRole
metadata:
  name: khulnasoftscanner-viewer-role
rules:
- apiGroups:
  - operator.khulnasoft.com
  resources:
  - khulnasoftscanners
  verbs:
  - get
  - list
  - watch
- apiGroups:
  - operator.khulnasoft.com
  resources:
  - khulnasoftscanners/status
  verbs:
  - get
